// Colors used throughout the project
$default-theme: true !default;
$primary-1: #f8b465;
$primary-2: #e29c4d;
$primary-3: #df893e;
$primary-4: #a3632a;
$primary-5: #8e441b;

$secondary-1: #f6e9e6;
$secondary-2: #ebc2bb;

$accent-1: #a6f7ff;
$accent-2: #76b9dc;

$warning: #fbe264;
$success: #5c9d25;
$success-light: #cfffb9;

$white: #fefefe;
